@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,700;1,400;1,700&display=swap"); /* import customized font from Google */

body {
  font-family: "Kodchasan", sans-serif;
}

/* .swal2-popup {
  font-size: 1.6rem !important;
  font-family: "Kodchasan", sans-serif;
} */
body {
  /* background-color: rgb(179, 64, 64, 0.65); */
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  background-image: linear-gradient(
    to bottom right,
    /* #84fab0 0%,
    #8fd3f4 15%,
    #30cfd0 25%, */ #deaf43 0%,
    #f99777 35%,
    #ff867a 40%,
    #ff8c7f 54%,
    #f99185 60%,
    #fa709a 68%,
    #cf556c 78%,
    #f43b47 84%,
    #c22d64 87%,

    #623aa2 90%,
    #453a94 95%,
    #330867 100%
  );
  background-size: 450% 450%;
  animation: gradient linear 12s alternate infinite;
  height: 150vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
