{% extends 'root.html' %} {% block title %} {{title}} {% endblock %} {% block
body %}
<style>
  body {
    height: auto;
  }
</style>
<div class="py-3 mx-3 my-2 px-5" align="center">
  <h1 style="font-weight: bolder; color: aquamarine">
    Merry Christmas and Happy New Year 2023, Candice
  </h1>
  <div align="end">
    <h4 style="color: royalblue">Customized for: Candice</h4>
  </div>
  <p style="font-size: x-large">
    &emsp;<span style="color: blanchedalmond"
      >{% block msg %}{{msg}}{% endblock %}</span
    >
  </p>
  <div align="start" style="color: darkcyan">
    <p style="font-size: large">
      <br />Best, <br />
      Kan/Luke
      <br />January 1, 2023
    </p>
  </div>
  <br />***
</div>
<div class="mx-2 my-2 py-1 px-2" id="songs">
  <h2>Songs for you</h2>
  These songs are beautiful with the good meaning. However, I might not mean
  exactly like 100% of the songs meaning but overall meaning is good. If you
  found not appropriate, please take the parts as you'd like to take, the parts
  you don't like just leave it right here. ^_^
  <ol>
    <br />
    <div class="hstack gap-2">
      <!-- 1. 给你给我 -->
      <li style="color: aqua; font-weight: bold">
        <label for="给你给我" style="color: aqua; font-weight: bold"
          >毛不易 - 给你给我</label
        >
        <div class="give-you-give-me" style="color: black; font-weight: normal">
          <div class="col-5">
            <br />I picked this song because I really like his unique sound and
            song's melody, as well as the song gives a comfortable feeling but
            also comes with an incredible really good meaning.

            <div class="col mx-5 px-5 my-2">
              <iframe
                name="给你给我"
                class="responsive-iframe"
                src="https://www.youtube.com/embed/0r1ct8L_i_A"
                title="【MV】毛不易 - 给你给我 《一生一世》暖心插曲 #给你我微不足道所有的所有"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </li>
      <!-- 2. 遇见你 -->
      <li style="color: aqua; font-weight: bold">
        <label for="遇见你" style="color: aqua; font-weight: bold"
          >范世錡 - 遇見你</label
        >
        <div class="meet-you" style="color: black; font-weight: normal">
          <div class="col-5">
            <br />At first I wanted to picked this song, but then I carefully
            read the meaning and figured out that the meaning is too much aim to
            different way and I am afraid that you might misunderstood my
            meaning. Though, its overall meaning is also amazingly good. But, in
            the end I put this song because some sentences have good meaning,
            the song itself is beautiful, like the first one, another
            comfortable feeling when listen to it.

            <div class="col mx-5 px-5 my-2">
              <iframe
                name="遇见你"
                class="responsive-iframe"
                src="https://www.youtube.com/embed/zplIiHXsdQU"
                title="范世錡 - 遇見你 ●才觉得自己的总是默默的一切都好● （電視劇《青青子衿》插曲）♬【動態歌詞】♬ (ENG SUB)"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </li>
      <!-- 3. 兜兜转 -->
      <li style="color: aqua; font-weight: bold">
        <label for="兜兜转" style="color: aqua; font-weight: bold"
          >兔子牙 - 兜兜转</label
        >
        <div class="changing-point" style="color: black; font-weight: normal">
          <div class="col-6">
            <br />The main reasons I picked this one are pretty simple 1.)琵琶
            2.)好听 and 3.) the local Chinese lyrics

            <div class="col mx-5 px-5 my-2">
              <iframe
                name="兜兜转"
                class="responsive-iframe"
                src="https://www.youtube.com/embed/YXaxF9iWR2c"
                title="เพลง《兜兜转 : จุดเปลี่ยน》| เพลงจีนแปลไทย"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ol>
  <div align="center">---</div>
</div>
{% endblock %}
