{% extends 'root.html' %} {% block title %} CHECK ACCOUNT {% endblock %} {%
block body %}
<style>
  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Kodchasan", sans-serif;
  }
  body {
    height: 100vh;
  }
</style>
{% if auto %}
<script>
  theChecker();
</script>
{% endif %}

<div class="my-5 py-5">
  <div class="text-center my-2 py-2 px-5 mx-5" align="center">
    <button class="btn btn-light btn-lg" type="button" onclick="theChecker()">
      Click here to check pre-defined Account
    </button>
  </div>
</div>

{% endblock %}{% block footer %} {% endblock %}
