{% extends 'root.html' %} {% block title %} {{title}} {% endblock %} {% block
body %}
<style>
  body {
    height: auto;
  }
</style>
<div class="py-3 mx-3 my-2 px-5" align="center">
  <h1 style="font-weight: bolder; color: aquamarine">
    Merry Christmas and Happy New Year 2023, Kwan
  </h1>
  <div align="end">
    <h4 style="color: royalblue">Customized for: Kwan</h4>
  </div>
  <p style="font-size: x-large">
    &emsp;<span style="color: blanchedalmond"
      >{% block msg %}{{msg}}{% endblock %}</span
    >
  </p>
  <div align="start" style="color: darkcyan">
    <p style="font-size: large">
      <br />Best, <br />
      P' Kan
      <br />December, 2022
    </p>
  </div>
  <br />***
</div>

{% endblock %}
